body{
  background: #E1F0C4;
  color: #5E4C5A;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.7em;
  background-image: url("./img/black-thread-light.png");
}

footer{
  background: white;
  border-top: 2px solid darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

a{
  color: #5E4C5A;
  text-shadow: 4px 4px 5px rgba(0,0,0,0.25);
}

#top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  margin-top:0;
  padding: 10px;
  border-bottom: 2px solid darkgrey;
}

#top h1, #top h2, #top h3{
  margin-top: 0;
  padding:0;
  margin-bottom: 0;

}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow:wrap;
  padding: 20px;
}

.row > *{
  margin: 10px;
}

#left-panel{
  max-width: 350px;
}

#left-panel table tr > td:first-child{
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

#description{
  max-width: 500px;
}

#system-form{
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-top: 0;
}

#system-form span{
  display: flex;
}

#system-form span .form-input{
  border: 1px solid darkgrey;
  border-left: 5px solid darkgrey;
  border-right: 5px solid darkgrey;
  padding: 5px;
  flex-grow: 0;
}

#system-form button{
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid darkgrey;
  padding: 5px;
  font-size: 1.1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#system-form span:first-of-type .form-input{
  border-radius: 10px 10px 0 0;
  border-top: 5px solid darkgrey;
}

#system-form span:last-of-type .form-input{
  border-radius: 0 0 10px 10px;
  border-bottom: 5px solid darkgrey;
}

.form-label{
  flex: 1 0 10px;
  margin-right: 10px;
}

.form-input{
  flex: 1 0 auto;
}

#svg-container{
  min-width: 600px;
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid darkgrey;
}

#svg{
  justify-content: center;
}

.example-button{
  width: 220px;
  height: 220px;
  border-radius: 10px 10px 0 0;

}

.example-box{
  width: 220px;
  background: #eee;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 3px solid darkgrey;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

@media (max-width: 1600px){
  #description{
    max-width: 100%;
  }

  #left-panel{
    max-width: calc(100% - 750px);
  }

  .form-input{
    width: 55%;
  }
}

@media (max-width: 1084px){



  form span, table{
    font-size: 2em;
    line-height: 1.2em;
  }

  #left-panel, #description{
    max-width: 100%;
  }

  #top{
    justify-content: space-around;
    align-content: stretch;
  }

  h1{
    font-size: 1.2em;

  }

  h2{
    font-size: 1em;

  }

  h3{
    font-size: 0.8em;

  }
}
